.what-we-offer {
  padding-top: 50px;

  .what-we-offer-row > div {
    margin-bottom: 20px;
  }

  .what-we-offer-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 100%;
      cursor: pointer;
      height: 200px;
      margin-bottom: 30px;
    }
  }

}